<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:replace="~{fragments/fragments :: head}">
	</link>
</head>

<body>
	<!--header-->
	<header th:replace="~{fragments/fragments :: header('ingredients')}">
	</header>
	<!--main-->
	<main>
		<div class="container d-flex justify-content-center pt-5">
			<div class="row justify-content-center">
				<!--ALERT-->
				<th:block th:if="${message != null}">
					<div th:insert="fragments/fragments :: alert(${message},${class},'offers')">
					</div>
				</th:block>
				<!--CARD-->
				<div class="card" style="width: 40rem;" th:object="${ingredients}">
					<!--BODY-->
					<div class="card-body">
						<h5 class="card-title">[[*{name}]]</h5>
					</div>
					<ul th:if="${ingredients.foods.size() > 0 }">
						<h6>Related Foods: </h6>
						<li th:each="food : *{foods}">[[${food.name}]]</li>
					</ul>
					<!--BUTTONS-->
					<div class="card-body">
						<!--BACK-->
						<a th:href="@{/ingredients}" class="card-link btn btn-dark">Back to Ingredients</a>
						<!--EDIT-->
						<a th:href="@{/ingredients/edit/{id}(id=*{id})}" class="btn btn-dark ml-2" data-toggle="tooltip"
							title="Edit">Edit</a>
						<!--DELETE-->
						<form th:replace="~{fragments/fragments :: modal-food(${ingredients}, 'delete')}">
					</div>
				</div>
			</div>
		</div>
	</main>
	<!--footer-->
	<footer>
		
	</footer>
</body>
<!--scripts-->
<th:block th:replace="~{fragments/fragments :: scripts}">
	</th>

</html>